{% extends 'base.html' %}
{% load staticfiles %}
{% block title_block %}
<title>Register</title>
{% endblock %}
{% block body_block %}
{% if registered %}
<strong>Thank you for registering!</strong>
<a href="{% url 'oneWordStory:home' %}">Return to the homepage</a><br />
{% else %}

	<form id="user_form" method="post" action="{% url 'oneWordStory:register' %}"
		enctype="multipart/form-data">

		{% csrf_token %}

		{{ user_form.as_p }}
		{{ profile_form.as_p }}

		<input type="submit" name="submit" value="Register" />
	</form>
{% endif %}
{% endblock %}