{% extends 'base.html' %}
{% load static %}
{% block title_block %}
<title>Add Story</title>
{% endblock %}
{% block body_block %}
	<form id="story_form" method="post" action="{% url 'oneWordStory:add_story' %}">
		{% csrf_token %}
		{% for hidden in form.hidden_fields %}
			{{ hidden }}
		{% endfor %}
		{% for field in form.visible_fields %}
			{{ field.errors }}
			{{ field.help_text }}
			{{ field }}
		{% endfor %}
		<input type="submit" name="submit" value="Create Story" />
	</form>
	{% if messages %}
		<ul class="messages">
			{% for message in messages %}
			<li> {{ message }} </li>
			{% endfor %}
		</ul>
		{% endif %}
{% endblock %}