<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
		{% block title_block %}
		<title>One Word Story</title>
		{% endblock %}
		<link rel="stylesheet" href="{% static "css/base.css" %}" />
    </head>
    <body>
		 <div class="header">
			<a href="{% url 'rango:home' %}" class="logo"><img src="{% static 'images/1wslogo.jpg' %}"  class="logo"/>One Word Story</a>
			<div class="header-right">
				<a href="{% url 'rango:add_story' %}" class="headlink">Add a New Story</a>
				{% if user.is_authenticated %}
				<a href="{% url 'rango:logout' %}" class="headlink">Logout</a>
				{% else %}
				<a href="{% url 'rango:register' %}" class="headlink">Sign Up</a>
				<a href="{% url 'rango:login' %}" class="headlink">Login</a>
				{% endif %}
			</div>
		</div> 
        <div class="bodyblock">
			{% block body_block %}
			{% endblock %}
        </div>
    </body>
</html>
