<!DOCTYPE html>
{% load static %}
<html>
    <head>
		{% block title_block %}
		<title>One Word Story</title>
		{% endblock %}
		<link rel="stylesheet" href="{% static "css/base.css" %}" />
    </head>
    <body>
		 <div class="header">
			<a href="{% url 'oneWordStory:home' %}" class="logo"><img src="{% static 'images/1wslogo.jpg' %}"  class="logo"/>One Word Story</a>
			<div class="header-right">
				{% if user.is_authenticated %}
				<a href="{% url 'oneWordStory:add_story' %}" class="headlink">Add a New Story</a>
				<a href="{% url 'oneWordStory:logout' %}" class="headlink">Logout</a>
				{% else %}
				<a href="{% url 'oneWordStory:register' %}" class="headlink">Sign Up</a>
				<a href="{% url 'oneWordStory:login' %}" class="headlink">Login</a>
				{% endif %}
			</div>
		</div> 
        <div class="bodyblock">
			{% block body_block %}
			{% endblock %}
        </div>
		<script src="{% static "js/jquery-3.3.1.min.js" %}" crossorigin="anonymous"></script>
		<script src="{% static "js/ows-jquery.js" %}" crossorigin="anonymous"></script>
		<script src="{% static "js/ows-ajax.js" %}" crossorigin="anonymous"></script>
    </body>
</html>
